<mat-form-field>
  <input matInput type="email" name="email" #emailField="ngModel" placeholder="Email" [(ngModel)]="value"
  minlength="5" maxlength="30" required>
  <span matPrefix><i class="material-icons">mail_outline</i></span>
  <mat-error *ngIf="emailField.control.hasError('required')">Email is required</mat-error>
  <mat-error *ngIf="emailField.control.hasError('email')">Email must be valid</mat-error>
  <mat-error *ngIf="emailField.control.hasError('minlength')">Length cannot be less than 5 chars</mat-error>
</mat-form-field>
