a{
    color: #ffff;
    text-decoration: none;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 200px;
    border: 2px dashed #c2185b;
    border-radius: 5px;
    background: #303030;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #c2185b;
        color: #dadada !important;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}