@import '../../../assets/styles/consts.scss';

a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
}

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    border: 2px dashed $secondary;
    border-radius: 5px;
    background: $background;
    margin: 10px 0;

    &.hovering {
        border: 2px solid $secondary;
        color: #dadada !important;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}