<div class="d-flex bd-highlight">
  <div class="image-container">
    <div class="text-container">
      <p>Your imagination journey starts here...</p>
    </div>
    <img src="../../../assets/pictures/login.jpg" alt="login greet picture">
  </div>
  <div class="form-container">
    <mat-card>
      <form [formGroup]="credentials">
        <div>
          <mat-form-field>
            <input required matInput maxlength="30" formControlName="username" name="username" placeholder="Email" class="d-flex flex-wrap">
            <span matPrefix><i class="material-icons">mail_outline</i></span>
            <mat-error *ngIf="credentials.controls['username'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="credentials.controls['username'].hasError('username')">Email is invalid</mat-error>
          </mat-form-field>
        </div>
        <div>&nbsp;</div>
        <div>
          <mat-form-field>
            <input required matInput maxlength="13" type="password" formControlName="password" name="password"
              placeholder="Password">
            <span matPrefix><i class="material-icons">visibility</i></span>
            <mat-error *ngIf="credentials.controls['password'].hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="credentials.controls['password'].hasError('minLength')">Password is invalid</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button type="button" [disabled]="!credentials.valid" (click)="submitValues()">
          Sign In</button>
      </form>
      <p>... or <a (click)="openDialogRegister()">Sign up</a> if you don't have an account</p>
      <p>or</p>
      <p><a [routerLink]="'/'">check our currently listed pictures</a></p>
    </mat-card>
  </div>
</div>