@import '../../../assets/styles/consts.scss';
@import '../../../assets/styles/snackbar.scss';

p,
i,
mat-checkbox {
  color: $grey;
}

.image-text-container {
  max-height: 88vh;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  max-width: 60vw;

  .image-container {
    img {
      height: 100%;
      width: 100%;
      display: block;
      margin: auto;
    }
  }

  .text-container {
    position: absolute;
    width: 200px;
    left: 20px;

    p {
      font-size: 60px;
    }
  }
}

.form-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .sign-in {
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
  }

  mat-card {
    text-align: center;
    width: 80%;
  }

  a {
    color: $secondary;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
  }

  span {
    margin-right: 6px;
  }
}

@media only screen and (max-width: 680px) {
  .login-container {
    margin-top: 20vh;

    .image-container {
      display: none;
    }

    .form-container {
      width: 100%;

      mat-card {
        width: 100%;
      }
    }

  }
}
