@import '../../../assets/styles/consts.scss';
@import '../../../assets/styles/snackbar.scss';

p, i, mat-checkbox{
    color: $grey;
}
.image-container{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    img{
        max-width: 60vw;
    }
    .text-container{
        position: absolute;
        width: 200px;
        left: 20px;
        p{
            font-size: 60px;
        }
    }
}
.form-container{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-card{
        text-align: center;
        width: 80%;
    }
    a{
        color: $secondary;
        text-decoration: none;
        font-style: italic;
        cursor: pointer;
    }
    span{
        margin-right: 6px;
    }
}

@media only screen and (max-width: 750px) {
    .image-container{
        display: none;
    }
    .form-container{
        width: 100%;
    }
}