<mat-card class="gallery-container">
  <h3>Edit selected picture</h3>
  <div class="d-flex bd-highlight form-container">
    <div class="p-2 flex-grow-1 bd-highlight">
      <form name="form" (ngSubmit)="f.form.valid && submitValues()" #f="ngForm">
        <div>
          <app-description-input [(ngModel)]="description" name="description"></app-description-input>
        </div>
        <div>&nbsp;</div>
        <div>
          <app-name-input [(ngModel)]="fileName" name="fileName"></app-name-input>
        </div>
        <div>&nbsp;</div>
        <app-categories-input [(ngModel)]="categories" name="categories"></app-categories-input>
        <div>&nbsp;</div>
        <app-tags-input [(ngModel)]="tags" name="tags"></app-tags-input>
        <div>&nbsp;</div>
        <div class="submit-container">
          <button mat-raised-button type="button" (click)="submitValues()">Submit</button>
        </div>
      </form>
    </div>
    <div>
      <div class="preview-container d-flex bd-highlight">
        <mat-icon *ngIf="adminBoolean" (click)="confirmDeleteDialog()">cancel</mat-icon>
        <div class="p-2 flex-shrink-1 bd-highlight">
          <img src="data:image/png;base64,{{photo.data}}" alt={{photo.name}}>
        </div>
      </div>
    </div>
  </div>
</mat-card>
