@import '../../../assets/styles/consts.scss';

::ng-deep .mat-dialog-container{
    padding: 0px;
    background: $background;
}
button{
    top: 10px;
    right: 10px;
    position: absolute;
    background: none;
	border: none;
    cursor: pointer;
    outline: none;
}
.image{
    max-width: 80vw;
    max-height: 80vh;
}