<mat-toolbar class="top-toolbar">
  <mat-toolbar-row class="d-flex justify-content-between">
    <div>
      <button mat-flat-button [routerLink]="'/upload'">
        <mat-icon>folder_open</mat-icon>Upload picture
      </button>
    </div>
    <div>
      <button mat-flat-button (click)="loginOrOut()">
        <mat-icon>{{loginIcon}}</mat-icon>{{loginString}}
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<section class="top-container">
  <mat-card class="sorting-container d-flex justify-content-between">
    <div>
      <mat-chip-list class="chip">
        <mat-chip color="primary" selected>CATEGORIES</mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-label>Choose</mat-label>
        <mat-select [formControl]="categoryControl" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.id" (click)="filterByCategories(category)">
            {{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div></div>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Write a tag..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <div></div>
    <label class="pure-material-textfield-outlined relative">
      <input [(ngModel)]="search" (ngModelChange)="initSearch($event)" class="input-padding" placeholder=" ">
      <span class="placeholder">Search</span>
      <span class="sufix">
        <mat-icon>search</mat-icon>
      </span>
    </label>
  </mat-card>
</section>
<mat-card class="gallery-container">
  <mat-chip-list class="chip">
    <mat-chip color="primary" selected>PICTURES</mat-chip>
  </mat-chip-list>
  <div>
    <div class="sort-date-container">
      <button mat-flat-button class="sort-date-button" (click)="sortByDate()">
        Sort by date<mat-icon>{{sortObj.buttonString}}</mat-icon>
      </button>
    </div>
    <div></div>
  </div>
  <div class="res-count-container">Showing: {{resCount | itemsCount}} pictures</div>
  <div class="gallery-container">
    <div class="photo-container" *ngFor="let item of photos">
      <app-photo [photo]="item"></app-photo>
    </div>
  </div>
  <ng-container *ngIf="isLoaded else loading"></ng-container>
</mat-card>

<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-template>

