<mat-toolbar class="top-toolbar">
  <mat-toolbar-row fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around stretch">
    <div fxFlex="30" fxFlex.xs="100" class="toolbar-button-container">
      <button mat-flat-button>
        <a [routerLink]="'/upload'"> Upload picture </a>
      </button>
    </div>
    <div fxFlex="5"></div>
    <div fxFlex="30" fxFlex.xs="100" class="toolbar-button-container">
      <button mat-flat-button>
        <a [routerLink]="'/categories-tags'"> Create new categories or tags </a>
      </button>
    </div>
    <div fxFlex="30" fxFlex.xs="100" class="toolbar-button-container">
        <button mat-flat-button>
          <a [routerLink]="'/categories-tags'"> LOGIN </a>
        </button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<section class="top-container">
  <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around stretch"
    class="sorting-container">
    <div fxFlex="25" fxFlex.xs="100">
      <mat-chip-list class="chip">
        <mat-chip color="primary" selected>CATEGORIES</mat-chip>
      </mat-chip-list>
      <mat-form-field fxFlex="100">
        <mat-label>Choose</mat-label>
        <mat-select [formControl]="categoryControl" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.id" (click)="filterByCategories(category)">
            {{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="5"></div>
    <mat-form-field fxFlex="25" fxFlex.xs="100" class="example-chip-list">
      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Write a tag..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <div fxFlex="5"></div>
    <label fxFlex="40" fxFlex.xs="100" class="pure-material-textfield-outlined relative">
      <input [(ngModel)]="search" (ngModelChange)="initSearch($event)" class="input-padding" placeholder=" ">
      <span class="placeholder">Search</span>
      <span class="sufix">
        <mat-icon>search</mat-icon>
      </span>
    </label>
  </mat-card>
</section>
<mat-card class="gallery-container">
  <mat-chip-list class="chip">
    <mat-chip color="primary" selected>PICTURES</mat-chip>
  </mat-chip-list>
  <div>
    <div fxFlex="30" fxFlex.xs="100" class="sort-date-container">
      <button mat-flat-button class="sort-date-button" (click)="sortByDate()">
        Sort by date<mat-icon>{{sortObj.buttonString}}</mat-icon>
      </button>
    </div>
    <div fxFlex="5"></div>
  </div>
  <div class="res-count-container">Showing: {{resCount | itemsCount}} pictures</div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="gallery-container">
    <div fxFlex="30" fxFlex.lg="20" fxFlex.sm="45" fxFlex.xs="100" class="photo-container" *ngFor="let item of photos">
      <app-photo [photo]="item"></app-photo>
    </div>
  </div>
  <ng-container *ngIf="isLoaded else loading"></ng-container>
</mat-card>
<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-template>
