<div class="d-flex img-container">
  <div class="d-flex flex-wrap img-container">
    <div class="wrap-container">
      <img src="data:image/png;base64,{{photo.data}}" alt="picture">
    </div>
    <div class="img-overlay">
      <div (click)="openDialogReview()" class="icon-container">
        <mat-icon class="icon-search">search</mat-icon>
      </div>
      <div (click)="openDialogEdit()" class="icon-container">
        <mat-icon class="icon-edit">edit</mat-icon>
      </div>
    </div>
  </div>
</div>
